.navbar {
  opacity: 0.75;
  filter: alpha(opacity=75); // For IE8 and earlier
  z-index: 1000;
}

.heading {
  margin-bottom: 0;
  
  background: #83a4d4 /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  font-family: 'Merriweather', serif;
}

.spacer { margin:0; padding:0; height:150px; }

.title {
  font-size: 42px;
}

.selectedProject {
  background-color: #eeeeee;
}

#contact {
  margin-top: 10px;
}